<p>Your tracked artists:</p>
<ul class="artist-list">
  <%if @user.artists%>
    <%@user.artists.each do |artist|%>
      <li id=<%=artist.id%>>
        <%=artist.name%>.
        <form class="delete-artist-form">
          <input type="hidden" name="artist_id" value=<%="#{artist.id}"%>>
          <input type="submit" value="delete">
        </form>
      </li>
    <%end%>
  <%end%>
</ul>
<p>Click <a href=<%="/users/#{@user.id}/events"%>>here</a> to find shows for these artists</p>
<form class="create-artist-form" action="/artists" method="POST">
  <input type="text" name="name" placeholder="artist name" required>
  <input type="hidden" name="user_id" value=<%=@user.id%>>
  <input type="submit" value="add artist">
</form>
<script src="/js/profile_page.js"></script>
