<form class="create-artist-form" action="/artists" method="POST">
  <input type="text" name="name" placeholder="artist name" required>
  <input type="hidden" name="user_id" value=<%=@user.id%>>
  <input type="submit" value="add artist">
</form>
<p>Your tracked artists:</p>
<ul class="artist-list">
  <%if @user.artists%>
    <%@user.artists.each do |artist|%>
      <li id=<%=artist.id%>>
        <%=artist.name%>.
        <form class="delete-artist-form">
          <input type="hidden" name="artist_id" value=<%="#{artist.id}"%>>
          <input type="submit" value="delete">
        </form>
      </li>
    <%end%>
  <%end%>
</ul>

<p>Click here to find shows for these artists:<form action=<%="/users/#{@user.id}/events"%> method="get">
  <input type="hidden" id="latitude-field" type="number" step="any" name="latitude" placeholder="LATITUDE" max=90 min=-90 required>
  <input type="hidden" id="longitude-field" type="number" step="any" name="longitude" placeholder="LONGITUDE" max=180 min=-180 required>
  <input type="submit" value="hey hey">
</form> </p>

<script src="/js/profile_page.js"></script>
